.file-upload {
    display: flex;  
    margin-bottom: 60px;  
    input[type=file] {
        display: none;
        padding: 0;
    }
    .custom-file-upload-donation {
        color: #FFFFFF;
        background-color: #C32424;
        display: inline-block;
        font-size: 14px;
        padding: 0 15px;
        margin-bottom: 20px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 700;
        position: relative;
        p {
            margin-top: -10px;
            margin-bottom: 10px;
        }   
    }
    .text {
        padding: 0;
        margin: 8px;
        font-size: 14px;
        color: #616161;
    }
}



