.login-wrapper {
    width: 405px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 33px;
    box-sizing: border-box;
    h2 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    .link {
        margin-top: 21px;
        text-align: center;
        p {
            color: #333333;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
            span {
                font-weight: 700;
            }
        }
    }
    .button-submit {
        width: 100%;
        margin-top: 36px;
    }
}