.info {
    display: block;
    .info-image {
        position: absolute;
        top: 594px;
        width: 423px;
        height: 659px;

        .card-info-image {
            width: 423px;
            position: relative;

            img {
                position: absolute;
                width: 100%;
            }
        }
    }
    .info-content {
        padding-top: 128px;
        height: 100%;
        margin-left: 529px;
        flex: 1;
        h2 {
            width: 717px;
            font-size: 48px;
            font-weight: bold;
            line-height: 58px;
            color: #000000;
            margin-bottom: 25px;
        }
        .info-content-item {
            display: flex;
            p {
                width: 304px;
                font-size: 18px;
                font-weight: normal;
                line-height: 25px;
                color: #616161;
                margin-right: 60px;
            }
        }
    }
}

.donate {
    height: 100%;
    margin-bottom: 65px;
    h3 {
        font-size: 36px;
        list-style: 44px;
        font-weight: bold;
        text-align: center;
        color: #C32424;
    }
    .donate-content {
        padding: 10px 145px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }
}